:root{
    --ppl: #9333ea;
    --red: #da5f5b;
    --green: #8AEA33;
    --blue: #33E5EA;
    --grey: #e7e5e4;
    --white: azure;
}
 
body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--white);
    display: grid;
    grid: 15vh 1fr/1fr;
}

#header{
    background-color: var(--red);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
}

#mid{
    background-color: var(--grey);
    display: grid;
    grid: 1fr 1fr 1fr/ 1fr 1fr 1fr;
    align-items: stretch;
    justify-content: stretch;
    margin: 1rem;
}

#mid > div{
    border: 3px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    font-weight: bolder;
}

.refresh{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3vw;
    color: var(--red);
    font-weight: bolder;
}

.refresh button{
    padding: 3vh;
    margin-bottom: 2vh;
    border-radius: 2vh;
    font-size: 1rem;
    font-weight: bolder;
}

#bottom{
    background-color: var(--ppl);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    font-weight: bolder;
}

